.wrapper {
  width: 100%;
  height: 100%;

  .padding {
    padding: 0 36px;

    .headerCard {
      font-family: 'Lato', sans-serif !important;
      font-weight: 300;
      font-size: 2rem;
      color: #0d0e10;
      text-align: center;
      margin-top: 25px;
      line-height: 1.13;
      letter-spacing: -0.4px;
    }

    .headerTagline {
      font-family: inherit;
      font-size: 1rem;
      color: #858687;
      text-align: center;
      margin-top: 7px;
    }

    .headerPic img {
      margin: 0 auto;
      display: flex;
    }
  }
}
